<h1>New Message</h1>

<form method="POST" action="/new">
  <div>
    <input name="messageUser" placeholder="Your name" required />
  </div>

  <div>
    <textarea name="messageText" placeholder="Your message" required></textarea>
  </div>

  <button type="submit">Send</button>
</form>

<a href="/">Back</a>